<div class="row" ng-controller="columnNameCtrl">
    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
        <h2>{{columnNames[0].tableName.tableName}}</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Type</th>
                    <th>Nullable</th>
                    <th width="50%">Description</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        <tbody>
            <tr ng-repeat="columnName in columnNames | orderBy: 'id'">
                <td>{{columnName.columnName}}</td>
                <td>{{columnName.columnType}}</td>
                <td>{{columnName.canNull}}</td>
                <td><textarea ng-model="columnName.description" class="form-control"></textarea></td>
                <td>
                    <button class="btn btn-primary" ng-click="save(columnName)">Save</button>
                </td>
            </tr>
        </tbody>
        </table>
        <div>
            <div class="form-group">
                <label>Column Name</label>
                <input type="text" class="form-control" ng-model="newColumnName.columnName"/>
            </div>
            <div class="form-group">
                <label>Column Type</label>
                <input type="text" class="form-control" ng-model="newColumnName.columnType"/>
            </div>
            <div class="form-group">
                <label>Can be Null</label>
                <input type="checkbox" class="form-control" ng-model="newColumnName.canNull"/>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" ng-model="newColumnName.description"/>
            </div>
        </div>
        <button class="btn btn-primary pull-right" ng-click="add(newColumnName)">Add</button>
    </div>
</div>